@import "./vars";

.select {
   position: relative;
   width: 220px;

  &.select_show {
    .select__toggle {
      border-radius: 10px 10px 0 0;
    }
  }
 }

 .select__toggle {
   display: flex;
   background-color: #fff;
   color: black;
   border-radius: 8px;
   cursor: pointer;
   align-items: center;
   width: 220px;
   padding: 14px 20px;
   user-select: none;
   font-family: $mainFont;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   justify-content: space-between;
 }

 .select__toggle::after {
   content: '';
   width: 0.75rem;
   height: 0.75rem;
   background-size: cover;
   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
 }

 .select__toggle:focus {
   outline: none;
 }

 .select_show .select__toggle::after {
   transform: rotate(180deg);
 }

 .select__dropdown {
   display: none;
   position: absolute;
   top: 2.9rem;
   left: 0;
   right: 0;
   border-top: 1px solid #ccc;
   border-radius: 0 0 10px 10px;
   z-index: 2;
   background-color: #fff;
   overflow: hidden;
 }

 .select_show .select__dropdown {
   display: block;
 }

 .select_show .select__backdrop {
   display: block;
 }

 .select__options {
   margin: 0;
   list-style: none;
   padding: 0;
 }

 .select__option {
   color: black;
   text-align: left;
   font-size: 16px;
   line-height: 24px;
   padding: 8px 0 8px 20px;
 }

 .select__option_selected {
   background-color: rgba($danger-color, .2);
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .select__option:hover {
   cursor: pointer;
   transition: 0.2s background-color ease-in-out;
 }
