// Font
$mainFont                : 'Gilroy', sans-serif;

// Size

$desktopWidth            : 1290px;
$ipadWidth               : 768px;
$iphoneWidth             : 600px;


// Main color
// $default-color           : #ffffff;
// $primary-color           : #444ce0;
// $success-color           : #26de81;
$danger-color            : #CA0F18;
// $warning-color           : #fed330;
// $light-color             : #999999;
// $purple-color            : #8854d0;
