#basket-modal {
	z-index: 100000000000000000;
	&.modal_bg {
		background: rgba(21, 21, 21, 0.2);
		backdrop-filter: blur(2px);
		position: fixed;
		top: 0;
	}

	.container {
		background-color: #f3e9e3;
		max-width: 580px;
		opacity: 10;
		margin: 0 0 0 auto;
		padding: 0 32px;
		height: 100vh;
	}

	.wrap {
		display: flex;
		justify-content: space-between;
		padding: 24px 0 24px;

		h2 {
			font-weight: bold;
			font-size: 32px;
			line-height: 39px;
		}

		.button_type-two {
			border-bottom: 1px solid rgba($color: #6e6e6e, $alpha: 0.1);

		}

		.button_type-none {
			margin-right: 32px;
		}

		&.top {
			border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
			margin: 0 -32px;
			h2{
				margin-left: 32px;
			}
		}

		&.bottom {
			border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
			a.button_type-one:hover{
				color: #fff !important;
			}
			.button_type-one {
				margin-right: 32px;
				padding: 13px 30px;
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
}

.basket_total-title {
	margin-left: 32px;
}
.product-block .product-scroll {
    padding-right: 10px;
    margin-right: -20px;
	
}

.title-total {
	font-weight: bold;

	.total-priсe {
		color: #ca0f18;
		margin-left: 6px;
	}

	.total-weight {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-left: 6px;
		color: rgba($color: #000000, $alpha: 0.7);
	}
}

.title-order {
	font-size: 14px;
	line-height: 16px;
	margin-top: 4px;
	color: rgba($color: #000000, $alpha: 0.7);
}

.products-wrapper {
	margin-bottom: 16px;

	.button_type-none {
		margin-right: 10px;
		height: fit-content;
		margin: auto auto auto 0;
		padding: 0;

		img {
			margin: 0;
			width: 20px;
			height: 16px;
		}
	}
}

.product-wrap {
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border-radius: 16px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;

	img {
		height: 70px;
		display: block;
		margin: auto;
		margin-top: 5px;
	}
}

.product_img-wrap {
	min-width: 120px;
	width: 120px;
}

.product_title-wrapper {
	border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
	display: flex;
	width: 100%;
	justify-content: space-between;

	.deleteBtn {
		padding: 0 20px;
	}
}

.product_title-wrap {
	font-weight: bold;
	font-size: 16px;
	width: 61%;
	line-height: 19px;
	margin: auto 0 auto 20px;
	:first-child{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		max-width: 307px;
	}
	.prod-title {
		position: relative;
	}
	.prod-modal {
		opacity: 0;
		z-index: 1;
		overflow: hidden;
		font-weight: bold;
		font-size: 11px;
		position: absolute;
		left: 13%;
		transform: translateX(-6%);
		top: 34px;
		padding: 5px;
		background-color: #fff;
		pointer-events: none;
		border-radius: 10px;
		box-shadow: 0 12px 32px rgba(#0000, .2);
		transition: all ease .4s;
	}
	}

.product_price {
	color: #ca0f18;
	display: flex !important;

	span {
		margin: auto 0 0 8px;
		font-size: 12px;
		line-height: 14px;
		color: rgba($color: #000000, $alpha: 0.3);
	}
}

.product_number-wrap {
	width: 140px;
	margin: auto 0;
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	.button_type-one {
		min-width: 40px;
		width: 40px;
		height: 40px;
		padding: 0;
		border-radius: 6px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 12px;
			height: 12px;
			margin: 0;
		}
	}

	input {
		font-family: $mainFont;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		width: 100%;
		border-top: 1px solid #DADADA;
		border-bottom: 1px solid #DADADA;
	}
}

.product_number_input {
	background-color: transparent;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	width: 68px;
	margin: 0 -10px;
	padding: 11px;
	vertical-align: top;
}

.product-block {
	margin-top: 24px;
	.wrap-mod{
		margin: 0 -32px;
	}
	.product-scroll {
		max-height: calc(100vh - 209px);
		height: 100%;
		overflow-y: auto;
		

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: $danger-color;
			border-radius: 10px
		}
	}
}

@media (max-width: $ipadWidth) {
	
	.product-block .product-scroll {
		max-height: calc(100vh - 167px);
		padding: 0 10px 0 0;
		margin-right: -20px;
	}
	
	#basket-modal {
		&.modal_bg {
			height: 100%;

			.container {
				max-width: 100%;
				padding: 0 20px;
			}
		}

		.wrap {
			padding: 16px 20px;

			h2 {
				margin-left: 0;
			}

			&.bottom {
				.button_type-one {
					margin-right: 0;
					padding: 12px 24px;
					font-size: 14px;
					line-height: 16px;

					span {
						display: none;
					}
				}
			}
		}

		.wrap-mod {
			margin: 0 -20px;
		}
	}
	.basket_total-title {
		margin-left: 0;

		.basket_total-mob-mod {
			display: none;
		}

		.title-order {
			font-size: 12px;
			line-height: 14px;
		}
	}
	.title-total {
		#total-priсe {
			font-size: 16px;
			line-height: 19px;
			margin-left: 0;
		}

		#total-weight {
			font-size: 12px;
			line-height: 14px;
		}
	}
	.product-block {
		margin-top: 16px;
	}
	.products-wrapper {
		padding: 0;

		.button_type-none {
			margin-right: 0;
			margin: 12px;
		}
	}
	.product_img-wrap {
		margin: auto;
		width: 120px;
	}
	.product_title-wrap {
		width: 34.5%;
		font-size: 14px;
		line-height: 17px;
	}
}


@media (max-width: $iphoneWidth) {

	.product_number-wrap {
		width: 120px;
		.button_type-one {
			height: 32px;
			min-width: 32px;
		}}
	.product-wrap {
		height: 110px;

	}
	.product_title-wrapper {
		padding-left: 20px;
		flex-direction: column;
		align-items: flex-start;

		.deleteBtn {
			position: absolute;
			right: 12px;
			top: 12px;
			margin: 0;
			padding: 0;
		}

		.product_title-wrap {
			width: 85%;
			margin: 0;
			p {
				padding-top: 12px;
				width: calc(100% - 40px);
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin: 0;
			}
		}

	}
}
@media (max-width: 429px){
	.product_title-wrap {
		:first-child{
			max-width: 170px;
		}
	}
}