#menu {
	position: fixed;
	top: 66px;
	left: 0;
	right: 0;
	height: 100%;
	background-color: #F3E9E3;
	font-weight: bold;
	padding-top: 40px;
	overflow: hidden;

	.button_type-none {
		display: none;
	}

	h1 {
		font-weight: 900;
		font-size: 64px;
		line-height: 80px;
		text-align: center;
		margin-bottom: 60px;
	}

	& .container {
		height: calc(100% - 70px);
		overflow-y: auto;
	}
}

.menu_wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	margin-bottom: 40px;
}

.manufacturer {
	background: #FFFFFF;
	border-radius: 32px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	img {
		max-height: 64px;
		height: 64px;
		object-fit: contain;
	}

	h2 {
		margin-top: 32px;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		white-space: nowrap;
	}
}

@media (max-width: 992px) {
	.menu_wrap {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;

		.manufacturer {
			padding: 20px;
		}
	}
}

@media (max-width: $ipadWidth) {
	#menu {
		.title {
			display: flex;
			justify-content: space-between;
		}

		padding-top: 10px;

		.button_type-none {
			display: block;
			margin-top: 4px;
		}

		h1 {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 20px;
		}
	}
	.menu_wrap {
		grid-template-columns: repeat(2, 1fr);
		.manufacturer {
			border-radius: 12px;
			padding: 20px;
			img {
				height: 32px;
			}
			&:last-child {
				margin-bottom: 60px;
			}
			h2 {
				margin-top: 12px;
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}