
#search{
    z-index: 200;
    .container{
        max-width: 1500px;
        text-align: right;
    }
    .button_type-none{
        display: none;        
    }
    &.modal_bg{
        padding-top: 10px;
        position: fixed;
        top: 68px;
        background: rgba(21, 21, 21, 0.2);
        backdrop-filter: blur(2px);
    }
}
.input-search{
    font-size: 16px;
    width: 320px;
    line-height: 19px;
    background: #fff url("/img/search-input-icon.png") 16px 16px no-repeat;
    border-radius: 10px;
    margin: 0 0 0 5px;
    padding: 14px 10px 15px 44px;
    outline: none;
}
@media (max-width: $ipadWidth){
    #search{
        &.modal_bg {
            padding-top: 0;
        }
        .search{
            background-color: #F3E9E3;
            margin: 0 -20px;
            padding: 8px 20px;
            display: flex;

        }
        top: 0;
        background: rgba(21, 21, 21, 0.5);
        backdrop-filter: blur(16px);
        .button_type-none{
            display: block;
            margin: 14px 0 0 16px;
        }
        .input-search{
            font-size: 14px;
            width: 100%;
        }
    } 
}