.about-us{
    margin-top: 160px;
    h2{
        font-weight: 900;
        font-size: 64px;
        line-height: 80px;
    
    }
    
}
.container.advantage{
  margin-top: 50px;  
}
.container.work{
    margin-top: 160px;
    margin-bottom: 100px;
}
.about-us_left{
    width: 48%;
    margin-right: 69px;
    p{
        margin-top: 25px ;
        max-width: 560px;
    }
}
.about-us_right{
    img{
        width: 100%;
    }
    width: 52%;
    height: 762.26px;
    margin-top: -140px;
}
.about-us_cards{
    margin-top: 60px;
    gap: 60px;
    &.mod{
        gap: 30px;
    }
}
.about-us_card{
    &.mod{
        margin-top: -20px;
        width: 25%;
        h3{
            margin-top: 12px;
        }
        span{
            font-weight: 900;
            font-size: 80px;
            line-height: 102px;
            color: #CA0F18;
        }
    }
    h3{
        margin: 31px 0 16px;
        font-weight: bold;
        font-size: 24px;
    }
    p{
        font-size: 16px;
        line-height: 24px;

    }
}
@media (max-width: $ipadWidth){
    .about-us{
        margin-top: 10px;
        h2{
            font-size: 32px;
            line-height: 40px;
        
        }
        .flex_sb{
            flex-direction: column;
        }
        .about-us_left{
            margin: 0;
            width: 100%;
        }
        .about-us_right{
            margin: 0;
            width: 100%;
            height: 100%;
        }
        .about-us_cards{
            margin-top: 0;
            gap: 0px;
            p{
                font-size: 14px;
                line-height: 22px;
        
            }&.mod{
                width: 100%;
                span{
                    font-size: 64px;
                    line-height: 82px;
                }
            }
            
        }
        h3{
            font-size: 20px;
            line-height: 24px;
            margin: 20px 0 10px;
        }
        .about-us_card{
            margin: 20px 0 0;
            &.mod{
                width: 100%;
            }
            img{
                margin-top: 10px;
            }
        }
        
    }  
    .container.work{
        margin-top: 60px;
        margin-bottom: 0;
    } 
}
