.backet-page {
	margin-top: 42px;
	.product-block .product-scroll{
        max-height: calc(80vh - 211px);
    }
	.container {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	.input-type-one {
		background-repeat: 10px;
	}

	.title_wrap {
		h1 {
			font-weight: 900;
			font-size: 40px;
			line-height: 50px;
		}

		p {
			font-size: 16px;
			line-height: 19px;
			margin: 16px 0 24px;
		}
	}
	
	.prod-modal {
		opacity: 0;
		z-index: 1;
		overflow: hidden;
		font-weight: bold;
		font-size: 11px;
		position: absolute;
		left: 13%;
		transform: translateX(-6%);
		top: 34px;
		padding: 5px;
		background-color: #fff;
		pointer-events: none;
		border-radius: 10px;
		box-shadow: 0 12px 32px rgba(#0000, .2);
		transition: all ease .4s;
	}
}

.backet_sticky-wrap {
	max-width: 520px;
	width: 100%;
}

.backet-page_wrap {
	position: sticky;
	top: 110px;

	@media (max-width: $ipadWidth) {
		position: static;
		top: 0;
	}

	&.left {
		max-width: 520px;
	}

	.products-wrapper {
		padding: 0;
	}

	.basket_total-title {
		margin: 0;
	}

	.bottom {
		.button_type-one {
			// margin-right: 32px;
			padding: 13px 30px;
			font-size: 16px;
			line-height: 22px;
		}
	}

	&.right {
		.title {
			font-weight: bold;

			p {
				font-size: 24px;
				line-height: 29px;
			}

			a {
				font-size: 16px;
				line-height: 19px;
				color: #fff;
				margin: auto 0;
				background: #CA0F18;
				border-radius: 10px;
				padding: 13px 15px;
				font-weight: 400;
				&:hover{
					color: #fff !important;
					background-color: rgba($danger-color, .7);
				}
			}
		}

		.wrap {
			border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
			display: flex;
			justify-content: space-between;
			padding: 24px 0;

			&.boxes {
				p {
					font-size: 16px;
					line-height: 19px;
					margin: auto 0;
				}

				.product_number-wrap {
					margin: 0;
				}
			}
		}
	}
}
.inputs_section{
	&.mod{
	display: flex;
	flex-direction: column;
	}
}
.delivery-data {
	border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
	padding-top: 24px;
	margin-top: 20px;

	.input-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.inputs_section {
			display: none;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			&.visibility {
				display: flex;
			}
		}
	}

	.wrap {
		width: 48%;

		label {
			font-size: 16px;
			line-height: 19px;
			color: #181717;
			opacity: 0.4;
		}

		.input-type-one {
			padding: 14px 16px;
			font-size: 16px;
			line-height: 19px;
			border-radius: 10px;
			margin-top: 12px;
		}

		.textarea {
			height: 200px;
		}

		.form-select {
			margin: 12px 0 0;
		}

		&.mod {
			width: 100%;

			p {
				font-size: 16px;
				line-height: 19px;
				text-align: center;
				margin-top: -10px;
			}
		}
	}

	.radio_wrap {
		width: 100%;
		.input_wrap{
			margin-bottom: 16px;
		}
		img {
			vertical-align: middle;
			margin-left: 8px;
		}
	}

}

.delivery-data_title {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 20px;

}

.product-block-mob {
	display: none;
}

.info-text_wrap {
	position: relative;
}

.info-text {
	display: none;
	position: absolute;
	width: 250px;
	font-size: 14px;
	line-height: 18px;
	background-color: #fff;
	text-align: center;
	padding: 8px 16px 8px;
	border-radius: 10px;
	bottom: 30px;
	left: 102px;

	.component_wrap {
		position: absolute;
		border: 16px solid transparent;
		border-top: 16px solid white;
		display: block;
		top: 63px;
		left: 110px;
	}

	&.second {
		left: 55px;
	}
}
@media (max-width: 1000px){
	.backet-page .products-wrapper .product_number-wrap {
		width: 175px;
	}
}
@media (max-width: $ipadWidth) {
	.backet-page .products-wrapper .product_number-wrap {
		width: 140px;
	}
	.wrapper {
		width: 100%;

		.backet_sticky-wrap {
			max-width: unset;
			position: relative;
			padding-bottom: 20px;
			.backet-page_wrap.right {
				.title {
					display: none;
				}
			}
		}
	}
	.backet-page {
		.product-block .product-scroll{
			max-height: calc(100vh - 211px);
		}
		.title_wrap {
			h1 {
				font-size: 32px;
				line-height: 40px;
			}

			p {
				font-size: 14px;
				line-height: 22px;
			}
		}

		.product-block-mob {
			margin: auto 0;

			a {
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				font-weight: 400;
				color: #ffffff;
				background: #CA0F18;
				border-radius: 10px;
				padding: 10px 13px;
				&:hover{
					color: #fff !important;
					background-color: rgba($danger-color, .7);
				}
			}
		}
	}

	.product-block-mob {
		display: block;

		&.boxes {
			display: flex;
			justify-content: space-between;

			p {
				margin-top: revert;
			}
		}
	}
	.backet-page {
		.container {
			flex-direction: column;

			.backet-page_wrap {
				max-width: unset;
			}
		}

	}
	.backet-page_wrap {
		width: 100%;

		.bottom {
			.button_type-one {
				margin-right: 0;
				padding: 9px 12px;
				font-size: 14px;
				line-height: 16px;
				border-radius: 10px;
				max-width: 170px;
				white-space: nowrap;
			}
		}

		&.right {
			position: relative;
			left: 0;
		}
	}
	.delivery-data_title {
		font-size: 20px;
		line-height: 24px;
	}
	.delivery-data {
		padding-top: 20px;
		margin-top: 0;

		.input-wrapper {
			flex-direction: column;
			width: 100%;
		}
		.inputs_section {
			flex-direction: column;
			&.mod{
				margin-bottom: 20px;
				p{
					margin-top: -8px;
				}
			}
		}

		.wrap {
			width: 100%;

			label {
				font-size: 12px;
				line-height: 14px;
			}

			.input-type-one {
				padding: 16px;
				font-size: 14px;
				line-height: 16px;
			}

			.textarea {
				height: 160px;
			}
			&.mod {
				margin-bottom: 20px;
				p {
					margin-bottom: 10px;
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.backet-page .products-wrapper .product_number-wrap {
		width: 120px;
	}
}