.brand-page{
    
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin: auto 15px !important;
            &.mod{
                padding-bottom: 0;
                padding-top: 17px;
            }
        }
    }
    .title_wrap{
        display: flex;
        .form-select{
            width: 246px;
            margin-left: 10px;
            border-radius: 10px ;
            padding: 14px 20px;
            font-size: 16px;
            line-height: 19px;
            height: 48px;
            background-image: url("/img/arrow-down.png");
            background-size: 23px 12px;    display: block;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: right 1.2rem center;
            border: none;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        
    }
}
.product-inputs{
    display: flex;
    justify-content: space-between;
    max-width: 181px;
    &_input{
        width: 30%;
        background: transparent;
        color: #CA0F18;
        }
    svg{
        margin-right: 0 !important;
    }
    &_svg{
        margin: auto 0;
        width: 35px;
    }
    div{
        text-align: center;
    }
}
.pagination {
    margin: 30px 0 68px;
    &_wrap {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
    }

    .paginationBtn {
        width: 56px;
        height: 100%;
        background: #CA0F18;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        .page-link {
            font-size: 40px;
            color: #ffff;
            padding: 16px 20px;
        }

        &.disabled {
            opacity: .2;
            pointer-events: none;
        }
    }

    .preBtn {
        margin-right: 20px;
    }

    .nextBtn {
        margin-left: 20px;
    }

    .paginationItem {
        padding: 0 8px;
        .page-link{
            padding: 3px 8px;
        }

        &.active {
            color: $danger-color;
            span {
                border-bottom: 1px solid $danger-color;
                padding-bottom: 16px;
            }
        }
    }
}

@media (max-width: $ipadWidth){
    .pagination {
        .paginationItem {
            padding: 0 4px;
            &.active span {
                padding-bottom: 12px;
            }
        }
        .pagination_wrap {
            height: 40px;
        }
        .paginationBtn {
            width: 40px;
            margin: 0;
        }
    }
    .brand-page{
        .title{
            align-items: flex-start;
            p{
                margin: 0 !important;
                padding-bottom: 10px;
                &.mod{
                    padding: 20px 0;
                }
            }
        }
        .title_wrap{
           flex-direction: column;
           margin-bottom: 0;
           .form-select{
               width: 100%;
               margin: 0;
           }
        }
    }
}