.footer-support{
    background-image: url("/img/backgroundImgBottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 648px;
    margin: 60px 0 32px;
    .container{
        padding-top: 100px;
    }
    .wrap{
        width: 49%;
        margin: 0 0 auto auto ;
        text-align: center;
        min-height: fit-content;
    }
    h3{
        font-weight: 900;
        font-size: 64px;
        line-height: 80px;
        margin-bottom: 20px;
    }
    .form-wrapper{
        text-align: center;
        margin: 40px auto 0 auto;
        width: 69%;
        height: 100%;
        .input-type-one{
            line-height: 28px;
        }
        .button_type-one{
            width: 100%;
        }
    }
}
@media (max-width: 1200px){
    .footer-support .container {
        padding-top: 60px;
    }
}
@media (max-width: 1000px){
    .footer-support h3 {
        font-size: 57px;
        line-height: 64px;
    }
    .footer-support .form-wrapper {
        margin-top: 24px;
        width: 100%;
    }
}
@media (max-width: $ipadWidth){
    .footer-support .form-wrapper .input-type-one {
        line-height: 16px;
    }
    .footer-support{
        background-position: 57%;
        height: 100%;
        margin: 40px 0 20px;
        
        .container{
            padding: 40px 20px;
            .wrap{
                width: 100%;
                margin: 0 auto;
                text-align: center;
                P{
                    padding: 0 20px;
                    margin-bottom: 20px;
                }
                .btn_type-one{
                    width: 100%;
                }
            }
        }
        h3{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 12px;
        }
        .form-wrapper{
            margin: 0;
            width: 100%;
            .button_type-one{
                width: 100%; 
            }
        }
    }
}