footer{
    font-size: 16px; 
    nav{
        li{
            margin-right: 48px;
        }
        :last-child{
            margin-right: 0;
            color: #181717;
        }
    }
}
@media (max-width: $ipadWidth){
    footer{
        .flex_sb{
            flex-direction: column;
        }
        font-size: 14px; 
        line-height: 16px;
        nav.flex_sb{
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            li{
                margin-right: 0;
                width: 50%;
                margin-bottom: 24px;
            }
        }
    }
}