header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100000000000;
	background-color: #F3E9E3;

	&.hightIndex {
		transition: visibility 0.3s, opacity 0.3s;
		z-index: 100;
	}

	.container {
		max-width: 1680px;
		padding: 0 60px;

		.flex_sb {
			height: 68px;
			display: flex;
			align-items: center;
		}

		&.mobile {
			display: none;

			.header_left {
				width: 50%;

				img {
					width: 109px;
				}
			}

			.header_right {
				width: 40%;
				margin: auto 0;
			}

			.header_link_wrap {
				svg {
					width: 24px;
					height: 24px;
				}
				&.active {
					svg path {
						fill: $danger-color;
					}
				}
			}
		}
	}
}

.header_link_wrap {
	cursor: pointer;
	white-space: nowrap;
	position: relative;

	&:first-child {
		margin-right: 60px;
	}

	.indicator {
		position: absolute;
		left: 10px;
		top: 0;
		width: 16px;
		height: 16px;
		background-color: $danger-color;
		color: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		line-height: 14px;
	}

	span {
		margin-left: 12px;
		vertical-align: middle;
	}

	&button {
		background-color: none;
	}
}

.header_right {
	font-size: 18px;
	line-height: 21px;

	.goBackLink {
		white-space: nowrap;
		font-family: $mainFont;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		text-align: right;
	}
}

.header_center {
	font-weight: bold;
	font-size: 24px;
    margin-left: 6%;

	a {
		color: $danger-color;

		&:hover {
			color: #911525;
		}
	}
}

.quantity {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(202, 15, 24);
	width: 16px;
	font-size: 12px;
	line-height: 14px;
	color: rgb(243, 233, 227);
	border-radius: 50%;
	text-align: center;
}
@media (max-width: $desktopWidth) {
	header {
		.container{
			padding: 0 20px;
		}
	}
}
@media (max-width: 1260px){
	.header_link_wrap {	
		&:first-child {
			margin-right: 20px;
		}
	}
}
@media (max-width: $ipadWidth) {
	header {
		.container.mobile {
			padding: 0 20px;
			.header_right {
				width: fit-content;

				.goBackLink {
					font-size: 14px;
				}
			}
			.header_link_wrap {
				margin: 0;
				&:nth-child(2) {
					margin: 0 32px;
				}
			}
		}

		.container {
			display: none;

			&.mobile {
				display: block;
			}
		}
	}

}
