
.prod-wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 30px;

	.button_type-one {
		margin: 30px auto;
	}
}

.prod-card {
	background: #FFFFFF;
	border-radius: 32px;
	overflow: hidden;
	
	position: relative;

	.wrap {
		padding: 20px 20px 24px;
		display: flex;
		flex-direction: column;
	}

	.prod-title {

		h2 {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			height: 60px;
			-webkit-line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			word-wrap: break-word;
			&.mod{
				height: 100%;
			}
		}

		.prod-modal {
			opacity: 0;
			overflow: hidden;
			font-weight: bold;
			font-size: 16px;
			position: absolute;
			left: 0;
			z-index: 2;
			top: 64%;
			padding: 10px;
			background-color: #fff;
			pointer-events: none;
			border-radius: 10px;
			box-shadow: 0 12px 32px rgba(#0000, .2);
			transition: all ease .4s;

		}

		// h2:hover + .prod-modal {
		// 	opacity: 1;
		// 	overflow: visible;
		// }

	}

}

.prod-card_img-wrap {
	height: 260px;
	border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.prod-card_img {
	height: 95%;
	display: block;
	margin: 20px auto;
}

.prod-card_text {
	margin-top: 16px;
	font-size: 16px;
	line-height: 22px;
	z-index: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	box-orient: vertical;
	
	.prod-modal_text {
		opacity: 0;
		overflow: hidden;
		font-weight: bold;
		font-size: 16px;
		position: absolute;
		left: 0;
		top: 45%;
		z-index: 2;
		padding: 10px;
		background-color: #fff;
		pointer-events: none;
		border-radius: 10px;
		box-shadow: 0 12px 32px rgba(#0000, .2);
		transition: all ease .4s;

	}

	
	&.mod{
		margin-top: 0;
		p{
			max-height: 100%;

		}
	}
		p {
		min-height: 62px;
			&.mod{
				min-height: 100%;
			}
	}
}
.prod-modal_active {
	opacity: 1 !important;
	overflow: visible !important;
}
.prod-card_bottom {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
	&.mod{
		margin-top: 5px;
	}
	.button_type-one {
		padding: 14px 30px;
		border-radius: 10px;
		margin: 0;

		svg {
			vertical-align: inherit;
			margin-right: 12px;
		}
	}
}

.price-wrap {
	margin: auto 0;
	padding-top: 5px;
	line-height: 29px;
	color: #CA0F18;
	font-weight: bold;

	.prace {
		font-size: 24px;
		margin-right: 12px;
	}

	.weight {
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		color: #181717;
		opacity: 0.4;

	}
}
.inCartBtn-active{
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 10px 20px !important;
	gap: 6px;
	&_input-wrap{
		display: flex;
		input {
			width: 30px !important;
		}
	}
	.button_type-none{
		svg{
			margin: auto;
			margin-right: 0;
			vertical-align: middle;
		}
	}
	input{
		color: #CA0F18;
		background-color: transparent;
		width: 70%;
		text-align: center;
	}
} 
@media (max-width: 1166px) {
	.button_type-one.inCartBtn {
		padding: 14px 15px
	}
}
@media (max-width: 1070px) {
	.button_type-one.inCartBtn {
		padding: 14px 10px
	}
	.price-wrap .prace {
		font-size: 22px;
		margin-right: 3px;
	}
}

@media (max-width: 992px) {
	.button_type-one.inCartBtn {
		padding: 10px 20px;
	}
	.prod-wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: $ipadWidth) {
	.inCartBtn-active{
		max-width: 125px !important;
	} 
	.prod-wrap {
		margin-top: 20px;
		grid-template-columns: repeat(1, 1fr);
		.prod-card {
			border-radius: 12px;

			.wrap {
				padding: 16px;
			}

			h2 {
				font-size: 18px;
				line-height: 22px;
				height: 100%;
			}
		}

		.prod-card_text {
			margin-top: 12px;
			font-size: 14px;
			line-height: 20px;

		}

		.prod-card_bottom {
			display: flex;
			justify-content: space-between;
			margin-top: 0;

			form {
				width: 42%;
			}

			.button_type-one {
				margin-top: 0;
				max-width: unset;
				width: fit-content;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					vertical-align: top;
					margin-right: 7px;
				}
			}
		}

		.price-wrap {
			margin: auto 0;
			font-size: 18px;
			line-height: 22px;
		}

		.button_type-one {
			margin: 20px 0 0;
			width: 100%;
		}

	}
}