.thanksPage {
	&__content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #181717;
		font-family: $mainFont;

		&-title {
			margin-top: 40px;
			font-style: normal;
			font-weight: 900;
			font-size: 40px;
			line-height: 50px;
		}

		&-subtitle {
			margin: 20px 0 30px;
			font-size: 16px;
			line-height: 19px;
		}

	}
}