.welcome {
	height: 100vh;

	.container  {
		.flex_sb{
		height: 100vh;}
	}

	h1 {
		font-weight: 900;
		font-size: 80px;
		line-height: 88px;

	}

	p {
		margin: 50px 0 60px;
		max-width: 560px;
	}

	nav.welcome-contacts {
		display: flex;
		align-items: flex-end;
		margin-top: 5vh;

		li:first-child {
			margin-right: 48px;
		}
	}

	.container {
		padding: 0 60px;
		max-width: 1680px;
		flex-direction: column;
	}
}

.welcome_img_mob {
	display: none;
	pointer-events: none;

}

.welcome_left {
	display: flex;
	flex-direction: column;
	margin:auto;
	max-width: 686px;
	width: 50vw;

	.button-menu {
		max-width: 246px;
		line-height: 28px;
		white-space: nowrap;
	}
}

.welcome_right {
	z-index: 10;
	position: relative;
	width: 50vw;
	pointer-events: none;

	.lollipops {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

@media (max-width: $desktopWidth) {
	.welcome {
		min-height: 100%;
		.container{
			padding: 0 20px;
		}

		h1 {
			font-size: 38px;
			line-height: 44px;

		}

		p {
			margin: 16px 0 20px;
		}

		nav.flex_sb {
			display: none;
		}
	}
	.welcome_left {
		padding-right: 2px;
	}
	.welcome_right {
		.lollipops {

		}
	}
}

@media (max-width: $iphoneWidth) {
	.welcome {
		margin-top: 20px;
		.container{
			padding: 0 20px;
		}
		h1 {
			font-size: 32px;
			line-height: 40px;

		}
		&_left {
			margin-top: 10px;
			nav.welcome-contacts {
				display: none;
			}
			.button-menu {
				line-height: 10px;
				max-width: 164px;
			}
		}

		p {
			margin: 16px 0 20px;
		}

		.flex_sb {
			flex-direction: column;
			justify-content: flex-start;
		}

		nav.flex_sb {
			display: none;
		}
	}
	.welcome_left {
		width: 100%;
		margin-bottom: 0;
		padding-right: 2px;
	}
	.welcome_right {
		display: none;
	}

	.welcome_img_mob {
		text-align: right;
		margin-top: -60px;
		display: block;

		.wrap {
			margin: 0 -20px;
			padding-left: 10px;
		}

		.lollipops {
			width: 100%;
		}
	}
}